{%- for mysql_instance in mysqld_list %}
[mysqld@cluster{{mysql_instance}}]
datadir = /var/lib/mysql{{mysql_instance}}
log-error = /var/log/mysqld.cluster{{mysql_instance}}.log
socket = /var/lib/mysql{{mysql_instance}}/mysql-cluster{{mysql_instance}}.sock
tmpdir=/var/tmp/mysql/mysql{{mysql_instance}}
port = {{ 3300 + mysql_instance }}
server-id = {{ 3300 + mysql_instance + nodeid}}
log-bin = {{ansible_hostname}}-cluster{{mysql_instance}}-bin
relay-log = {{ansible_hostname}}-cluster{{mysql_instance}}-relay

allow-suspicious-udfs = FALSE
binlog_format = ROW
bulk_insert_buffer_size = 16M
connect_timeout = 20
default_storage_engine = InnoDB
expire_logs_days = 7
explicit_defaults_for_timestamp = FALSE
innodb_autoinc_lock_mode = 2
innodb_buffer_pool_instances = 1
innodb_buffer_pool_size = 128M
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit = 2
innodb_log_buffer_size = 8M
innodb_log_file_size = 64M
interactive_timeout = 60
local-infile = 0
log_error_verbosity = 3
log-raw = OFF
max_allowed_packet = 16M
max_connect_errors = 999999999
max_connections = 1024
max_heap_table_size = 32M
max_user_connections = 64
old_passwords = 0
default_password_lifetime=0
skip-grant-tables = FALSE
skip-name-resolve
skip-symbolic-links = YES
sort_buffer_size = 4M
sql_mode = NO_AUTO_CREATE_USER
sync_binlog = 0
thread_cache_size = 128
tmp_table_size = 32M
transaction-isolation = READ-COMMITTED
wait_timeout = 600
{% endfor -%}
