<Directory "/var/www/phpMyAdmin">
    Options FollowSymLinks
    AllowOverride None
    Require all granted
</Directory>

Listen 444
Listen 445
Listen 446
Listen 447
Listen 448
Listen 449
Listen 450
Listen 451
Listen 452
Listen 453
Listen 454
Listen 455
Listen 456
Listen 457
Listen 458
Listen 459
Listen 460
Listen 461
Listen 462
Listen 463

<VirtualHost *:444 *:445 *:446 *:447 *:448 *:449 *:450 *:451 *:452 *:453 *:454 *:455 *:456 *:457 *:458 *:459 *:460 *:461 *:462 *:463>
    UseCanonicalPhysicalPort On
    ServerName phpmyadmin
    DocumentRoot /var/www/phpMyAdmin
    
    SSLEngine on
    SSLProtocol all -SSLv2 -SSLv3
    SSLCipherSuite ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA
    SSLHonorCipherOrder on
    SSLCompression Off
    SSLCertificateFile /etc/ssl/WC.registeredsite.com.SHA256.2020.cer
    SSLCACertificateFile /etc/ssl/RapidSSL.G3.intermediate.cer
    SSLCertificateKeyFile /etc/ssl/WC.registeredsite.com.SHA256.2020.key
    
</VirtualHost>
