# Deployed using Ansible
# If you don't know what this means
# DO NOT TOUCH THIS FILE MANUALLY
[domain/default]
autofs_provider = ldap
cache_credentials = False
krb5_realm = #
ldap_search_base = svc=web,ou=User,dc=inquent
ldap_user_search_base = svc=web,ou=User,dc=inquent
ldap_group_search_base = ou=Group,dc=inquent
id_provider = ldap
auth_provider = ldap
chpass_provider = ldap
ldap_uri = ldaps://{{ ldap_lbvip }}/
ldap_tls_cacert = {{ ldap_ssl_intermediate_chain_file }}
ldap_id_use_start_tls = True
ldap_tls_reqcert = never
entry_cache_timeout = 300
account_cache_expiration = 1

ldap_tls_cacertdir = /etc/openldap/cacerts
[sssd]
services = nss, pam, autofs
config_file_version = 2
domains = default

[nss]
enum_cache_timeout = 60
entry_negative_timeout = 5
memcache_timeout = 300

[pam]
offline_credentials_expiration = 1
offline_failed_login_delay = 1
pam_verbosity = 3
pam_id_timeout = 5
[autofs]

